.btn{
	border: 0;
	display: inline-block;
	vertical-align: top;
	text-align: center;		
	text-decoration: none;	
	transition: all 0.2s ease-in-out;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	padding: 17px 55px;		
	cursor: pointer;	
	position: relative;
	z-index: 1;
	border-radius: 30px;
	background: #F09B00;	
}

.btn:after{
  content: '';
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  margin: 8px 0 0 15px;
  transition: all 0.2s ease-in-out;
}	

.btn:hover,
.btn:focus{		
  color: #fff;	
  text-decoration: none;
  background: #FFB122;		
}
